<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TMP_ATTACH_FOLDER" value="C:\Temp\OutlookTfsConfig\tmp\"/>
    <add key ="TFS_USERNAME" value="user@domain.com"/>
    <add key ="TFS_USERTOKEN" value="user personal token id"/>
    <add key ="TFS_PROJECT" value="TFS Project Name"/>
    <add key="TFS_URL" value="https://tfsonlineproject.visualstudio.com"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>